<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola! Tienes una nueva solicitud</h1>
    <p>Se ha generado una nueva solicitud que requiere tus servicios, por favor accede a solicitudes_ciencias_humanas.unal.edu.co para aceptar la solicitud y realizarla</p>
  </body>
</html>