<main class="detalle">
	<div class="breadcrumb-class">Está en: Ciencias Humanas ><span>Solicitudes> Observaciones</span></div>
	
	<h1 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h1>
    <h2 style="text-align: center;"> SISTEMA DE SOLICITUDES </h2>
		<div class="links">
        <%= link_to 'Ver', solicitud_observation_path(@observation.solicitud, @observation) %>|
		<%= link_to 'Regresar', responsable_solicituds_path %>
	</div>
	
	<div class="register-content">
		<h1 class="register-label">Editar Observación</h1>
		<%= render 'form', observation: @observation %>

	</div>
</main>

