<main class="detalle">
	<div class="breadcrumb-class">Está en: Ciencias Humanas ><span>Informes </span></div>
				<h1 style="text-align: center;"> SISTEMA DE SOLICITUDES </h1>
	<h2 style="text-align: center;"> FACULTAD CIENCIAS HUMANAS </h2>
		<div class="links">
		<%= link_to 'Regresar', informes_path,  :class => 'navbar-link' %>
	</div>
	
	<div class="register-content">
		<h1 class="register-label">Nuevo Informe</h1>

		<%= render 'form', informe: @informe %>
	</div>
</main>
