
.register-content{
    text-align: center;
    margin:auto;
    width: 50%;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    color: white;
    height: auto;

}

.field{
    margin: 10px 0px;
}

.field label{
    margin: 5px 0px ;
}

.field input{
    padding: 7px;
    margin-bottom: 1em;
    width: 50%;
    height: 100%;
    background: #e0e0e0;
    color: gray;
    font-size: 1em;
    border-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.field select{
    color: gray;
}
.actions input{
    background-color: #50992e;
    color: white;
    font-size: 1.125em;
    border-color: #84bf05;
    padding: 10px 25px;
    float: right;
    -webkit-appearance: button-bevel;
}

.actions a{   
    float: left;
    background-color: #50992e;
    color: white;
    font-size: 1.125em;
    border-color: transparent;
    padding: 10px 25px;
    border-width: 2px;
    border-style: outset;
}

.boton a{
    padding: 6px;
}

.sol_table td, th{
    text-align: center;
    padding: 5px 10px;
    border-bottom: 2px solid rgba(80, 80, 80, 0.651);
}
tr:nth-child(even) {background-color: #bebebe;}

.sol_table td{
    vertical-align: middle;
}

.sol_table .boton{
    padding: 20px 10px;
}
.no-padding{
    padding: 0!important;
}

.no-overflow{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.register-content .title{
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(145, 146, 145); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(68, 68, 68);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.div-table{
    overflow-x:auto;
    border: 1px solid black;
}

.links{
    display: block;
    margin: 25px 0px;
}

.links a{
    font-size: large;
    background-color: #5b5b5b;
    padding: 5px 15px;
    color: white;
}

.centerText{
    text-align: center;
}

.maxWidth{
    width: 100%;
}